* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url('img/gray-background.jpg');
    
}

header {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: rgb(231, 231, 231);
    font-family: 'Roboto Slab', serif;
}

section {
    display: flex;
    justify-content: center;
}

img {
    width:150px;
    height:auto;
    padding: 20px;
    margin-top: 100px;
}

.results,.score {
   
    color: rgb(231, 231, 231);
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    
}

.flex {
    display: flex;
    justify-content: space-around;
    
}
.results {
    width:800px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.score {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.clicked {
    transform: scale(1.3);
    transition: all .1s ease;
  }